POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# 0 = False, 1 = True
POSTGRES_ECHO=1

APP_NAME=auth
APP_DESCRIPTION=auth-service
APP_VERSION=0.0.1

JWT_SECRET_KEY=VERY_SECRET
JWT_ALGORITHM=HS256

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

# If password is changed, it need to change in redis.conf
REDIS_PASSWORD=develop-password

# Either a Fernet key or a passphrase (it will be deterministically derived to Fernet key)
ENCRYPTION_USER_DATA_SECRET_KEY=change-me-to-strong-secret

GRPC_PORT=50051
GRPC_TLS_CERT=/opt/app/certs/grpc/server.pem
GRPC_TLS_KEY=/opt/app/certs/grpc/server.key
GRPC_TLS_CA=/opt/app/certs/grpc/ca.pem
